/*.acme-container {*/
/*  margin-top: 1.5rem;*/
/*}*/

#test {
  position: absolute;
  color: #fff;
  background-color: red;
  opacity: 0.25;
  top: 0;
  right: 0;
  padding: 5px 8px;
  cursor: pointer;
}
#test:hover {
  opacity: 1;
}